# list

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [2]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']
['apple', 'banana', 'cherry', 'apple', 'cherry']

In [3]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]
list5 = ["apple"]
string1 = "apple"
print(list4[0:-1])
print(string1[0])

['abc', 34, True, 40]
a
['abc', 34, True, 40]
a

In [4]:
list1 = ["Apple", "Banaba", "Cherry", "Mango", "Guava"]
print(list1[0:2])
print(list1[2:])
print(list1[-1])
print(list1[-1:-2])
print(list1[-3:-1])

['Apple', 'Banaba']
['Cherry', 'Mango', 'Guava']
Guava
[]
['Cherry', 'Mango']
['Apple', 'Banaba']
['Cherry', 'Mango', 'Guava']
Guava
[]
['Cherry', 'Mango']

In [5]:
list = list(('apple', 'banana', 'cherry', 'mango', 'orange'))
#[]
list1 = ["apple", "banana", "cherry", "mango", "orange"]
print(list)
print(list1)
print("banana" in list1)
print("Banana" in list1)
print("Tomato" in list1)
print("Tomato" not in list1)

['apple', 'banana', 'cherry', 'mango', 'orange']
['apple', 'banana', 'cherry', 'mango', 'orange']
True
False
False
True
['apple', 'banana', 'cherry', 'mango', 'orange']
['apple', 'banana', 'cherry', 'mango', 'orange']
True
False
False
True

In [6]:
list1 = ["apple", "banana", "cherry", "mango", "orange"]
print(list1 + ["tomato", 50])
print(list1 * 3)
print(list1)

['apple', 'banana', 'cherry', 'mango', 'orange', 'tomato', 50]
['apple', 'banana', 'cherry', 'mango', 'orange', 'apple', 'banana', 'cherry', 'mango', 'orange', 'apple', 'banana', 'cherry', 'mango', 'orange']
['apple', 'banana', 'cherry', 'mango', 'orange']
['apple', 'banana', 'cherry', 'mango', 'orange', 'tomato', 50]
['apple', 'banana', 'cherry', 'mango', 'orange', 'apple', 'banana', 'cherry', 'mango', 'orange', 'apple', 'banana', 'cherry', 'mango', 'orange']
['apple', 'banana', 'cherry', 'mango', 'orange']

In [7]:
list1 = ["apple", "banana", "cherry", "mango", "orange"]
list1[0] = "tomato"
print(list1)

['tomato', 'banana', 'cherry', 'mango', 'orange']
['tomato', 'banana', 'cherry', 'mango', 'orange']

In [3]:
input_string = input("Enter a list element in number separated by space: ")
list  = input_string.split()
print("Calculating sum of element of input list")
sum = 0
for num in list:
    sum += int (num)
print("Sum = ",sum)

Enter a list element in number separated by space: 5 5 3 2 1 7
Calculating sum of element of input list
Sum =  23

In [4]:
numbers = [3, 7, 2, 5, 8, 10, 1]
max = numbers[0]
for item in numbers:
    if max < item:
        max = item
print(max)

10

In [5]:
input_num = input("Enter a list element in number separated by space: ")
numbers = input_num.split()
max_num = numbers[0]

for item in numbers:
    if max_num < item:
        max_num = item
print(max_num)

Enter a list element in number separated by space: 4 2 8 9
9

# list method

In [6]:
#append()
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [7]:
#clear()
fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.clear()
print(fruits)

[]

In [8]:
#copy()
fruits = ["apple", "banana", "cherry"]
x = fruits.copy()
print(x)

['apple', 'banana', 'cherry']

In [9]:
#count()
fruits = ["cherry", "apple", "banana", "cherry"]
x = fruits.count("cherry")
print(x)

2

In [10]:
#extend()
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [11]:
#index()
fruits = ['apple', 'banana', 'cherry']
x = fruits.index("cherry")
print(x)

2

In [12]:
#insert()
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [13]:
#pop()
fruits = ['apple', 'banana', 'cherry']
fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [14]:
#remove()
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [15]:
#sort()
cars = ['Ford', 'BMW', 'Volvo']
cars.sort(reverse=True)
print(cars)

#cars.sort(reverse=False)

['Volvo', 'Ford', 'BMW']

# Range Function in a list

In [16]:
My_list = [*range(1, 21, 1)]
print(My_list)

My_list1 = []
My_list1.extend(range(10, 20))
print(My_list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# 2D Lists/Matrix

In [17]:
A = [
    [1, 4, 5, 12], 
    [-5, 8, 9, 0],
    [-6, 7, 11, 19]
]
print("A =", A) 
print("A[1] =", A[1])      # 2nd row
print("A[1][2] =", A[1][2])   # 3rd element of 2nd row
print("A[0][-1] =", A[0][-1])   # Last element of 1st Row

A = [[1, 4, 5, 12], [-5, 8, 9, 0], [-6, 7, 11, 19]]
A[1] = [-5, 8, 9, 0]
A[1][2] = 9
A[0][-1] = 12

In [18]:
A = [
    [1, 4, 5, 12], 
    [-5, 8, 9, 0],
    [-6, 7, 11, 19]
]

column = [];        # empty list
for row in A:
    column.append(row[2])   

print("3rd column =", column)

3rd column = [5, 9, 11]

# Tuples

In [19]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

# Unpacking/Comparing

In [20]:
fruits = ("apple", "banana", "cherry")

green, yellow, red = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [21]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

green, yellow, *red = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [22]:
a=(0,6)
b=(1,4)
if (a>b):
    print("a is bigger")
else: 
    print("b is bigger")

b is bigger

# Set(Union/Intersection/Difference)

In [23]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, (1, 2, 3), 'Hello'}

In [24]:
# set cannot have duplicates
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

# we can make set from a list
my_set = set([1, 2, 3, 2])
print(my_set)

{1, 2, 3, 4}
{1, 2, 3}

In [25]:
num1 ={1, 2, 3, 4, 5}
num2 ={4, 5, 6, 7}

print(num1 | num2)   #union
print(num1 & num2)   #intersection
print(num1 - num2)   #difference

{1, 2, 3, 4, 5, 6, 7}
{4, 5}
{1, 2, 3}

# Dictionaries

In [27]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [28]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [32]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.get("brand"))

Ford

In [35]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.get("name", "Invalid Key"))

Invalid Key

In [36]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [37]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}