# Function

In [ ]:
# Built in function 
print("Hello World")

mylist = ["apple","banana","cherry"]
print(len(mylist))

print(max(5, 10))

print('Enter your name:')
x = input()
print('Hello, ' + x)

Hello World
3
10
Enter your name:

In [14]:
#user define function
def my_function():
      print("Hello from a function")

my_function()

Hello from a function

# Parameters/Arguments

In [1]:
def my_function(fname):
    print("Good Morning: "+ fname)
    
my_function('rafi')
my_function('rifat')
my_function('enam')

Good Morning: rafi
Good Morning: rifat
Good Morning: enam

In [2]:
#This function expects 2 arguments, and gets 2 arguments:
def my_function(fname, lname):
      print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

# Keyword Parameters/Arguments

In [5]:
#You can also send arguments with the key = value syntax.
#This way the order of the arguments does not matter.

def my_function(child3, child2, child1):
      print("The youngest child is " + child1)

my_function(child1 = "Rafi", child2 = "Enam", child3 = "Rifat")

The youngest child is Rafi

# Default Parameter Value

In [6]:
def my_function(country = "Norway"):
      print("I am from " + country)
    
my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

# xargs and xxargs

In [10]:
#If the number of arguments is unknown, add a * before the parameter name:
def my_function(*kids):
      print("The youngest child is " + kids[0])

my_function("Rafi", "Enam", "Rifat")

The youngest child is Rafi

In [11]:
def my_function(**kid):
      print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

# Return Statement

In [12]:
def my_function(x):
      return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

# Lambda Function

In [13]:
print((lambda a : a + 10) (5)) #a is parameter, 5 is argument

15

In [15]:
x = lambda a : a + 10
print(x(5))

15

In [16]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [17]:
def cube(y):
      return y * y * y

lambda_cube = lambda y: y * y * y

print(cube(5))

# using the lambda function
print(lambda_cube(5))

125
125

# Map and Filter function

In [18]:
def myfunc(a):
      return len(a)

x = map(myfunc, ('apple', 'banana', 'cherry'))
print(list(x))

[5, 6, 6]

In [19]:
def square(x):
    return x*x

num = [1, 2, 3, 4, 5]
result = list(map(square, num))

print(result)

[1, 4, 9, 16, 25]

In [20]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
      if x < 18:
        return False
      else:
        return True

adults = list(filter(myFunc, ages))

print(adults)

[18, 24, 32]

In [22]:
num = [5, 12, 17, 18, 25, 32]

result = list(filter(lambda x: x%2==0, num))

print(result)
#print(num)

[12, 18, 32]

# Zip Function

In [23]:
roll = (101, 102, 103, 104, 105, 106)
name = ("Jenny", "Christy", "Monica", "John", "Charles", "Mike")

result = list(zip(roll, name))
print(result)

[(101, 'Jenny'), (102, 'Christy'), (103, 'Monica'), (104, 'John'), (105, 'Charles'), (106, 'Mike')]

In [24]:
zipitem = [(101, 'Jenny'), (102, 'Christy'), (103, 'Monica'), (104, 'John'), (105, 'Charles'), (106, 'Mike')]

res = list(zip(*zipitem))

print(res)

[(101, 102, 103, 104, 105, 106), ('Jenny', 'Christy', 'Monica', 'John', 'Charles', 'Mike')]

# Recursion

In [25]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))

num = int(input("Enter a number:"))
print("The factorial of", num, "is", factorial(num))

Enter a number:5
The factorial of 5 is 120

# Exception Handling

In [27]:
try:
    print(x)
except:
    print("An exception occurred")

<map object at 0x000001C211FA4B20>

In [28]:
try:
    print(x)
except NameError:
    print("Variable x is not defined")
except:
    print("Something else went wrong")

<map object at 0x000001C211FA4B20>

In [29]:
x=2
try:
    print(x)
except:
    print("Something went wrong")
finally:
    print("Finished")

2
Finished

In [30]:
try:
    print(x)
except NameError as nr:
    print(nr)
except:
    print("Something else went wrong")

2

In [31]:
def fun(a):
    if a == 3:
        b = a / (a - 3)
    print("Value of b = ", b)

try:
    fun(5)
except ZeroDivisionError:
    print("ZeroDivisionError Occurred and Handled")
except NameError:
    print("NameError Occurred and Handled")

NameError Occurred and Handled