# Part-1 (series)

In [1]:
# import numpy and pandas library
import numpy as np
import pandas as pd

#### Series using lists

In [12]:
my_data = [100,200,300]

### series have a two argument 1. Data, 2. Index                 pd.Series(data, index)

In [7]:
# Converting my_data (Python list) to Series (pandas series)
pd.Series(data = my_data)
#0,1,2 is default index.

0    100
1    200
2    300
dtype: int64

In [8]:
my_labels = ['x','y','z']

In [9]:
pd.Series(data = my_data, index = my_labels)
# x,y,z is index given

x    100
y    200
z    300
dtype: int64

In [10]:
# Lets create NumPy array from my_data and then Series from that array
my_array = np.array(my_data)
pd.Series(data = my_array)

0    100
1    200
2    300
dtype: int32

In [11]:
pd.Series(data = my_array, index = my_labels)
# pd.Series(my_array, my_labels) # data and index are in order

x    100
y    200
z    300
dtype: int32

### Series using dictionary

***Notice the difference here,<br> if we pass a `dictionary` to `Series`, pandas will take the keys as `index/labels` and `values` as data.***

In [13]:
# Let's create a dictionary my_dic
my_dic = {'x':100,'y':200,'z':300}
pd.Series(my_dic)

x    100
y    200
z    300
dtype: int64

In [14]:
# let's pass my_labels (which is a list of strings) as data
pd.Series(data = my_labels)

0    x
1    y
2    z
dtype: object

In [16]:
# Creating dictionaries
dic_1 = {'Toronto': 500, 'Calgary': 200, 'Vancouver': 300, 'Montreal': 700}
dic_2 = {'Calgary': 200, 'Vancouver': 300, 'Montreal': 700}
dic_3 = {'Calgary': 200, 'Vancouver': 300, 'Montreal': 700, 'Jasper':1000}

# Creating pandas series from the dictionaries
ser1 = pd.Series(dic_1)
ser2 = pd.Series(dic_2)
ser3 = pd.Series(dic_3)

In [17]:
ser1

Toronto      500
Calgary      200
Vancouver    300
Montreal     700
dtype: int64

In [18]:
# Grabbing information for series is very much similar to dictionary.
ser1['Calgary'] # its case sensitive "calgary" is not the same as "Calgary"

200

In [19]:
ser2

Calgary      200
Vancouver    300
Montreal     700
dtype: int64

In [21]:
ser4 = ser1 + ser2
ser4

Calgary       400.0
Montreal     1400.0
Toronto         NaN
Vancouver     600.0
dtype: float64

In [22]:
# Let's look at ser3!
ser3 # C J M V are in order

Calgary       200
Vancouver     300
Montreal      700
Jasper       1000
dtype: int64

In [23]:
ser5 = ser4 + ser3
ser5

Calgary       600.0
Jasper          NaN
Montreal     2100.0
Toronto         NaN
Vancouver     900.0
dtype: float64

### `isnull()`, `notnull()`

In [25]:
ser4

Calgary       400.0
Montreal     1400.0
Toronto         NaN
Vancouver     600.0
dtype: float64

In [26]:
#pd.isnull(ser4)
ser4.isnull()
# shift+tab, its Type is method

Calgary      False
Montreal     False
Toronto       True
Vancouver    False
dtype: bool

In [27]:
#pd.isnull(ser4)
ser4.notnull()
# shift+tab, its Type is method

Calgary       True
Montreal      True
Toronto      False
Vancouver     True
dtype: bool

### `axes`, `values`

In [29]:
ser1

Toronto      500
Calgary      200
Vancouver    300
Montreal     700
dtype: int64

In [28]:
# row axis labels (index) list can be obtained
ser1.axes

[Index(['Toronto', 'Calgary', 'Vancouver', 'Montreal'], dtype='object')]

In [30]:
# returns the values/data
ser1.values

array([500, 200, 300, 700], dtype=int64)

### `head()`, `tail()`

In [31]:
ser1

Toronto      500
Calgary      200
Vancouver    300
Montreal     700
dtype: int64

In [32]:
ser1.head(2)

Toronto    500
Calgary    200
dtype: int64

In [33]:
ser1.tail(2)

Vancouver    300
Montreal     700
dtype: int64

### `size`
* To check the number of elements in your data.

In [34]:
ser1.size

4

### `empty` 
* True if the series in empty

In [35]:
# True for empty series
ser1.empty

False